<% content_for :body_classes, "users confession--update" %>

<section class="confession--update__container">

  <main class="confession--update__main">

    <h1>Redigera bekännelse</h1>

    <%= render 'form' %>

  </main>

</section>
