<% content_for :body_classes, "users confession--update" %>

<section class="confession--update__container">

  <main class="confession--update__main">

    <h1>Edit Confession</h1>

    <%= render 'form' %>

    <%= link_to 'Back', confessions_path, :class => "button button--gray-40 button--small" %>

  </main>

</section>
