<% content_for :body_classes, "users confession--new" %>

<section class="confession--new__container">

  <main class="confession--new__main">

    <h1>Ny bekännelse</h1>

    <%= render 'form' %>

    <%= link_to 'Tillbaka', confessions_path, :class => "button button--gray-40 button--small" %>

  </main>

</section>
