<% content_for :body_classes, "confession--show" %>

<section class="confession--show__hero">
  <div class="hero__container">
    <div class="hero__content">
      <h1>"<%= @confession.body %>"</h1>
    </div>
  </div>
</section>

<section class="confession--show__container">
  <aside class="confession--show__sidebar">
    <h2>Psykologen svarar</h2>

    <a href="#" class="share share--facebook">Dela detta på Facebook</a>
    <a href="#" class="share share--twitter">Twittra om detta</a>
  </aside>

  <main class="confession--show__main">
    <% if @confession.comment.present? %>
      <h3><%= @confession.comment.title %></h3>
      <%= simple_format(@confession.comment.body) %>

      <div class="author">
        <div class="author__photo" style="background-image: url('<%= image_path "face.png" %>');">
        </div>
        <div class="author__name">
          <p>
            Förnamn Efternamn, Doktor inom Psykologi<br>
            <a href="#">Läs mer on henne hãr</a>
          </p>
        </div>
      </div>

    <% end %>
  </main>
</section>
