// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------

// COLOR MAP
// Allows colors to be stored together in a neat
// array — opens up cool new possibilities, so
// let me have this one, people :)
$ds-colors: (
  "blue":             blue,
  "green":            green,
  "yellow":           yellow,

  // Complementary colors
  "orange":           orange,
  "red":              red,
  "ruby":             #E6175A,
  "violet":           #B93C96,
  "purple":           pruple,
  "majorelle-blue":   #4E4EE5,
  "turquoise":        #34D6D6,
  "mountain-meadow":  #39C686,

  "white":            white,
  "black":            black,
  "gray-10":          #F5F5F5, // light
  "gray-20":          #E4E4E4, // medium
  "gray-30":          #BCBCBC, // medium-dark
  "gray-40":          #B2B2B2, // gray
  "gray-80":          #565656  // dark-gray
);

// COLOR FUNCTION
// Allows easy retrieval of colors
// in the color map
@function color($key) {
  @if map-has-key($ds-colors, $key) {
    @return map-get($ds-colors, $key);
  }

  @warn "No color named `#{$key}` was found in $ds-colors.";
  @return null;
}

// SET TEXT COLOR FUNCTION
// Chooses text color depending on
// the lightness of the background color
@function set-text-color($color) {
  @if (lightness($color) > 80) {
    @return #000000;
  } @else {
    @return #ffffff;
  }
}


// -----------------------------------------------------------------------------
// Items
// Use these variables in other files for easy color changes
// -----------------------------------------------------------------------------

$ds-color-background:         color("white");
$ds-color-box-shadow:         color("black");
$ds-color-text:               color("gray-80");
$ds-color-text-light:         color("gray-40");
$ds-color-link:               color("gray-40");
$ds-color-heading:            color("gray-80");
$ds-color-selection:          color("blue");
$ds-color-selection-text:     color("gray-80");
$ds-color-input:              color("white");
$ds-color-input-border:       color("gray-20");
$ds-color-input-text:         color("gray-80");
$ds-color-button:             color("white");
$ds-color-button-text:        color("gray-80");
$ds-color-button--hover:      color("white");
$ds-color-button-text--hover: color("gray-80");
$ds-color-border:             color("gray-20");
