// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------

// COLOR MAP
// Allows colors to be stored together in a neat array
$ds-colors: (
  "green":            #49A64D,
  "light-green":      #EBF1EA,
  "orange":           #E78321,
  "gray":             #EFEEEC,
  "dark-gray":        #31302E,

  // Complementary colors
  "red":              red,
  "purple":           purple,
  "blue":             blue,

  // Neutral colors
  "white":            white,
  "black":            black,
  "gray-10":          #EFEEEC,
  "gray-20":          #E4E4E4,
  "gray-30":          #BCBCBC,
  "gray-40":          #B2B2B2,
  "gray-60":          #31302E,
  "gray-80":          #333333,

  // Brand colors
  "facebook":         #385A98,
  "twitter":          #2AA4F0
);

// COLOR FUNCTION
// Allows easy retrieval of colors
// in the color map
@function color($key) {
  @if map-has-key($ds-colors, $key) {
    @return map-get($ds-colors, $key);
  }

  @warn "No color named `#{$key}` was found in $ds-colors.";
  @return null;
}

// SET TEXT COLOR FUNCTION
// Chooses text color depending on
// the lightness of the background color
@function set-text-color($color) {
  @if (lightness($color) > 80) {
    @return #000000;
  } @else {
    @return #ffffff;
  }
}


// -----------------------------------------------------------------------------
// Items
// Use these variables in other files for easy color changes
// -----------------------------------------------------------------------------

$ds-color-background:         color("white");
$ds-color-box-shadow:         color("black");
$ds-color-text:               color("black");
$ds-color-text-light:         color("gray-40");
$ds-color-link:               color("green");
$ds-color-heading:            color("green");
$ds-color-selection:          color("green");
$ds-color-selection-text:     color("white");
$ds-color-input:              color("white");
$ds-color-input-border:       color("gray-20");
$ds-color-input-text:         color("gray-80");
$ds-color-button:             color("white");
$ds-color-button-text:        color("white");
$ds-color-button--hover:      color("green");
$ds-color-button-text--hover: color("green");
$ds-color-border:             color("light-green");
