@font-face {
  font-family: 'CenturyStd-BookCondensed';
  src: font-url('CenturyStd-BookCondensed.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyStd-BoldCondensed';
  src: font-url('CenturyStd-BoldCondensed.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyStd-Book';
  src: font-url('CenturyStd-Book.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'CenturyStd-BookCondensed';
  src: font-url('CenturyStd-BookCondensed.otf') format('opentype'), font-url('CenturyStd-BookCondensed.ttf') format('truetype'), font-url('CenturyStd-BookCondensed.svg#CenturyStd-BookCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyStd-Book';
  src: font-url('CenturyStd-Book.otf') format('opentype'),
  font-url('CenturyStd-Book.ttf')  format('truetype'), font-url('CenturyStd-Book.svg#CenturyStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyStd-BoldCondensed';
  src: font-url('CenturyStd-BoldCondensed.otf') format('opentype'), font-url('CenturyStd-BoldCondensed.ttf') format('truetype'), font-url('CenturyStd-BoldCondensed.svg#CenturyStd-BoldCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
