// -----------------------------------------------------------------------------
// Directions
// -----------------------------------------------------------------------------

$ds-float: left !default;
$ds-float-opposite: right !default;
$ds-text-direction: ltr !default;

// -----------------------------------------------------------------------------
// Depth Layers
// -----------------------------------------------------------------------------
$ds-background: -1;
$ds-stage: 0;
$ds-foreground: 1;
$ds-floating: 2;
$ds-navigation: 3;
$ds-tooltips: 9;

// -----------------------------------------------------------------------------
// Breakpoints
// -----------------------------------------------------------------------------
$huge: new-breakpoint(min-width 1600px 12);
$desktop: new-breakpoint(min-width 1200px 12);
$laptop: new-breakpoint(min-width 1024px 12);
$tablet: new-breakpoint(min-width 768px 12);
$mobile: new-breakpoint(min-width 480px 12);
$mobile-only: new-breakpoint(max-width 768px 12);
