// -----------------------------------------------------------------------------
// Global functions for variables
//
// These functions are required whenever loading variables. It must be loaded
// first because it contains functions that we use to calculate rem sizes based
// on pixel values.
//
// This code is lifted from Zurb Foundation
// https://github.com/zurb/foundation/blob/master/scss/foundation/_functions.scss
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Text
// -----------------------------------------------------------------------------

$ds-font-family: 'ITC Century W01 Bold Cn', serif !default;
$ds-font-family-complementary: "Helvetica Neue", sans-serif !default;
$ds-font-size: 100% !default;
$ds-font-size-body-copy: rem(16) !default;
$ds-font-size-small: rem(12) !default;
$ds-font-smoothing: antialiased !default;
$ds-font-style: normal !default;
$ds-font-weight-light: 300 !default;
$ds-font-weight: 400 !default;
$ds-font-weight-bold: 600 !default;
$ds-line-height: 1.45 !default;


// -----------------------------------------------------------------------------
// Headings
//
// Helpful resource:
// http://typecast.com/blog/a-more-modern-scale-for-web-typography
// -----------------------------------------------------------------------------

$ds-h1-font-size: rem(48) !default;
$ds-h2-font-size: rem(36) !default;
$ds-h3-font-size: rem(24) !default;
$ds-h4-font-size: rem(18) !default;
$ds-h5-font-size: rem(16) !default;
$ds-h6-font-size: rem(12) !default;
$ds-headings-line-height: 1.25 !default;


// -----------------------------------------------------------------------------
// Margins
// -----------------------------------------------------------------------------

$ds-type-margin: rem(20) !default;
