// -----------------------------------------------------------------------------
// Views > Home
// -----------------------------------------------------------------------------
.home {
  padding-top: 85px;

  .grid {
    width: 100%;

    .cell {
      position: relative;
      float: left;
      text-align: center;
      color: color("white");
      font-size: rem(20);
      line-height: 1.2;
      font-weight: 400;

      .content {
        position:absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        @include transform(translate(-50%, -50%));
      }

      &.blank {
        display: none;

        @include media($desktop) {
          display: block;
          width: percentage(1/7);
          padding-bottom: percentage(1/7);
        }
      }

      &.empty {
        background: color("light-green");
        width: 20%;
        padding-bottom: 50%;

        @include media($tablet) {
            width: 10%;
            padding-bottom: 30%;
        }

        @include media($desktop) {
          width: percentage(1/7);
          padding-bottom: percentage(1/7);
        }
      }

      &.link,
      &.photo,
      &.action,
      &.confession {
        width: 80%;
        padding-bottom: 50%;

        @include media($tablet) {
            width: 40%;
            padding-bottom: 30%;
        }

        @include media($desktop) {
          width: percentage(1/7);
          padding-bottom: percentage(1/7);
        }
      }

      &.confession {
        font-size: rem(20);
        background: color("green");
      }

      &.link {
        font-size: rem(32);
        line-height: 1.1;
        background: color("orange");
      }

      &.photo {
        background: no-repeat center center;
        background-size: cover;
      }

      &.headline {
        width: 100%;
        padding-bottom: 50%;
        color: color("dark-gray");

        p {
          font-family: $ds-font-family-complementary;
        }

        @include media($tablet) {
            padding-bottom: 30%;
        }

        @include media($desktop) {
          width: percentage(3/7);
          padding-bottom: percentage(1/7);
        }
      }

      &.action {
        .play {
          width: 76px;
          height: 76px;
          border: 4px solid color("green");
          border-radius: 50%;
          margin: 0 auto;
        }

        h2 {
          font-size: rem(22);
          margin-bottom: 0;
        }
      }
    }
  }
}
