// -----------------------------------------------------------------------------
// Basic Grid
// -----------------------------------------------------------------------------

.hero {
  .hero__container {
    @include outer-container;
  }

  .hero__content {
    @include shift(1);
    @include span-columns(10);

    @include media($laptop) {
      @include shift(0);
      @include span-columns(12);
    }
  }

  h1 {
    font-size: rem(24);
    @include media($tablet) { font-size: rem(36); }
    @include media($laptop) { font-size: rem(48); }
  }
}

.container {
  @include outer-container;
}

.sidebar {
  @include shift(1);
  @include span-columns(10);
  margin-bottom: 30px;

  @include media($tablet) {
    @include span-columns(4);
  }

  @include media($laptop) {
    @include shift(0);
    @include span-columns(4);
  }

  h2 {
    margin: 0 0 20px 0;
    font-size: rem(20);
    color: color("gray-60");

    @include media($tablet) { font-size: rem(24); }
    @include media($laptop) { font-size: rem(30); }
  }
}

.main {
  @include shift(1);
  @include span-columns(10);

  @include media($tablet) {
    @include shift(0);
    @include span-columns(6);
  }

  @include media($laptop) {
    @include shift(0);
    @include span-columns(8);
  }

  h3 {
    font-size: rem(20);
    @include media($tablet) { font-size: rem(24); }
    @include media($laptop) { font-size: rem(30); }
  }
}
