<header class="header">
  <div class="logo">
    <%= link_to root_path do %>
      <%= inline_svg "dina-logo.svg" %>
    <% end %>
  </div>

  <div class="menu-toggle">
    <div class="icon">
      <div class="text">Meny</div>
      <div class="hamburger"></div>
    </div>
  </div>
</header>
