<nav class="navigation open">
  <ul>
    <li class="current">Start</li>
    <li>Se filmen</li>
    <li>Om projektet</li>
    <li>Så fungerar speglarna</li>
    <li>Vår psykolog</li>
    <li>Besök dina.se</li>
  </ul>
</nav>
