<% content_for :body_classes, "about" %>

<section class="about__hero">
  <div class="hero__container">
    <div class="hero__content">
      <h1>Badrumsbekännelsen — ett nytt initiativ av Dina Försäkringar för att visa...</h1>
    </div>
  </div>
</section>

<section class="about__container">
  <aside class="about__sidebar">
    <h2>"Här kan man placera ett juste citat, reason to speak eller varför inte något annat bra."</h2>

    <a href="#" class="share share--facebook">Dela detta på Facebook</a>
    <a href="#" class="share share--twitter">Twittra om detta</a>
  </aside>

  <main class="about__main">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium odio risus. Morbi egestas ligula a interdum congue. Aenean urna augue, rutrum nec hendrerit vitae, ullamcorper id urna. Sed non neque euismod, viverra dui id, hendrerit massa. Cras in est in diam tincidunt sollicitudin at eget diam. Nulla mi odio, blandit id metus mollis, consequat viverra neque.</p>

    <h3>Mellanrubrik</h3>
    <p>Sed a diam eget nisl vulputate suscipit. Cras pretium vitae nisl quis maximus. Ut et libero magna. Etiam vel lacus quam. Proin porta ut odio mattis mattis. Aenean sed elit ligula. In ex metus, sodales id hendrerit in, luctus quis diam. Vivamus elit leo, scelerisque sed lectus ut, vulputate convallis neque.</p>

    <p>Quisque a nibh accumsan, dapibus metus at, pulvinar dolor. Donec condimentum tortor quis eleifend tempus. Ut at semper nisi. Nunc id ex non tortor aliquet imperdiet vitae sed nunc. Vestibulum dui diam, varius nec mollis sit amet, vestibulum et orci. Donec aliquam efficitur felis. Sed et ex placerat, rutrum nulla ut, gravida justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc elementum ipsum a sapien tincidunt cursus. Etiam dapibus vitae risus iaculis sodales. Nullam turpis quam, molestie vitae finibus vitae, dictum a nibh. Sed sed felis et lacus porta vestibulum commodo quis felis. Integer non leo laoreet, tempus mauris vitae, ullamcorper magna. Nunc bibendum imperdiet porta.</p>
  </main>
</section>
