<% content_for :body_classes, "about" %>

<section class="about__hero">
  <div class="hero__container">
    <div class="hero__content">
      <h1>Badrumsbekännelser är ett initiativ från Dina Försärkingar för att visa på att hemma är där du kan vara dig själv.</h1>
    </div>
  </div>
</section>

<section class="about__container">
  <aside class="about__sidebar">
    <h2>"Få hjälp att berätta om de funderingar som kanske stannar i huvudet, men som ändå inte slutar tänkas på."</h2>

    <%= render 'shared/sharing_links' %>
  </aside>

  <main class="about__main">
    <p>Det är inte alltid lätt att säga det man tänker. Men det är alltid bra att få saker sagda. Många är de saker som står ivägen för smidigare samtal. Det är inte bara brist på tid eller tajming, utan också vardagsadministration, skärmar och brokiga scheman. Samtidigt har vi har alla en mängd olika sidor i en och samma person. Vi är föräldrar, vi är barn. Vi är vänner för vissa och främlingar för andra. Alla våra jag behöver få känna sig sedda och hörda. Speciellt när du är hemma, där du ska kunna vara dig själv.</p>

    <h3>Hemma är där du kan vara dig själv</h3>
    <p>Sverige växer för var dag och snart blir vi tio miljoner invånar. I ett land som lever i ständig förändring är det extra viktigt att alla känner att de kan vara sig själva, med alla sina olika jag. Speciellt när de är hemma.</p>

    <p>Badrumsbekännelser är till för att vi ska börja öppna upp oss mer i hemmet. För ibland är det svårt att prata, att ta sig tiden eller modet. Då kan det kännas lättare att prata med en magisk spegel. </p>
  </main>
</section>
