<% content_for :body_classes, "all-confessions" %>

<section class="all-confessions__container">
  <main class="all-confessions__main">
    <h2>Här hittar du alla bekännelser</h2>
    <ul>
    <% @confessions.each do |confession| %>
      <li><%= link_to raw('&ldquo;') + truncate(confession.body, :length => 400) + raw('&rdquo;'), confession_path(confession) %></li>
    <% end %>
    </ul>
  </main>
</section>
