<div class="grid">

  <% # Row 1 %>
  <div class="cell empty"></div>
  <div class="cell"></div>
  
  <div class="cell confession">
    <div class="content">
      "Jag älskar dig, Mamma."
    </div>
  </div>

  <div class="cell empty"></div>
  <div class="cell"></div>
  <div class="cell confession"></div>
  <div class="cell empty"></div>

  <% # Row 2 %>
  <div class="cell link"></div>
  <div class="cell empty"></div>
  <div class="cell headline"></div>
  <div class="cell empty"></div>
  <div class="cell confession"></div>

  <% # Row 3 %>
  <div class="cell"></div>
  <div class="cell confession"></div>
  <div class="cell empty"></div>
  <div class="cell"></div>
  <div class="cell empty"></div>
  <div class="cell"></div>
  <div class="cell photo"></div>

  <% # Row 4 %>
  <div class="cell empty"></div>
  <div class="cell"></div>
  <div class="cell link"></div>
  <div class="cell empty"></div>
  <div class="cell"></div>
  <div class="cell confession"></div>
  <div class="cell"></div>
</div>
