<div class="grid">

  <% # Row 1 %>
  <div class="cell empty"></div>
  <div class="cell blank"></div>

  <div class="cell confession">
    <div class="content">
      "Jag älskar dig, Mamma."
    </div>
  </div>

  <div class="cell empty"></div>
  <div class="cell blank"></div>

  <div class="cell confession">
    <div class="content">
      "Det är kul när du försöker spela häftig inför..."
    </div>
  </div>

  <div class="cell empty"></div>

  <% # Row 2 %>
  <div class="cell link">
    <div class="content">
      Om projektet
    </div>
  </div>

  <div class="cell empty"></div>
  <div class="cell headline"></div>
  <div class="cell empty"></div>
  <div class="cell confession">
    <div class="content">
      "När jag var i din ålder brukade ingen gå på fest."
    </div>
  </div>

  <% # Row 3 %>
  <div class="cell blank"></div>

  <div class="cell confession">
    <div class="content">
      "Jar brukar sno pengar från dig till Banana Skids."
    </div>
  </div>

  <div class="cell empty"></div>
  <div class="cell blank"></div>
  <div class="cell empty"></div>
  <div class="cell blank"></div>
  <div class="cell photo" style="background-image: url('<%= image_path "face.png" %>');">
  </div>

  <% # Row 4 %>
  <div class="cell empty"></div>
  <div class="cell blank"></div>

  <div class="cell link">
    <div class="content">
      Så fungerar speglarna
    </div>
  </div>

  <div class="cell empty"></div>
  <div class="cell blank"></div>

  <div class="cell confession">
    <div class="content">
      "Jar brukar sno pengar från dig till Banana Skids."
    </div>
  </div>

  <div class="cell blank"></div>
</div>
