<% content_for :body_classes, "psychologist" %>

<section class="psychologist__hero">
  <div class="hero__container">
    <div class="hero__content">
      <h1>Vår psykolog</h1>
    </div>
  </div>
</section>

<section class="psychologist__container">
  <aside class="psychologist__sidebar">
    <h2>"Lorem ipsum"</h2>

    <%= render 'shared/sharing_links' %>
  </aside>

  <main class="psychologist__main">
    <p>Jacqueline Joo berättar mer om vikten av vardagssamtal inom familjen. Jacqueline är KBT-terapeut, föreläsare, författare, certifierad ICF-coach och certifierad inom DiSC-beteendeanalys. Dessutom är hon flitigt anlitad av Sveriges största medier som relationsexpert och kom nyligen ut med boken “Din dolda sociala förmåga”.</p>

  </main>
</section>
