<% content_for :body_classes, "psychologist" %>

<section class="psychologist__hero" style="background-image: url('<%= image_path "psychologist_hero.jpg" %>');">
  <div class="hero__container">
    <div class="hero__content">
      <h1>Konsten att fördjupa familjerelationen</h1>
    </div>
  </div>
</section>

<section class="psychologist__container">
  <aside class="psychologist__sidebar">
    <h2>“I dagens uppkopplade samhälle är det svårare att hitta tid än man kan tro”</h2>

    <%= render 'shared/sharing_links' %>
  </aside>

  <main class="psychologist__main">
    <p>Jacqueline Joo berättar mer om vikten av vardagssamtal inom familjen. Jacqueline är KBT-terapeut, föreläsare, författare, certifierad ICF-coach och certifierad inom DiSC-beteendeanalys. Dessutom är hon flitigt anlitad av Sveriges största medier som relationsexpert och kom nyligen ut med boken “Din dolda sociala förmåga”. </p>

    <p>Kommunikation är en viktig grundpelare i alla relationer. Den ordlösa kommunikationen sker ständigt på ett omedvetet plan. Vi kommunicerar via kroppsspråk, ansiktsmimik och handlingar. Denna typ av kommunikation är signaler på vad som försiggår inom oss, men det är först genom samtal vi kan skapa en tydligare förståelse för varandra. Om vi inte delar med oss av våra tankar, känslor och behov kan vi inte fördjupa relationen.</p>

    <p>I en förälder/barn-relation är anknytning är A och O. Barns anknytningsmönster formas under de första åren. Samtidigt är dessa mönster föränderliga och går att jobba på genom hela livet. Det viktigaste för att skapa en trygg anknytning är att föräldern uppmärksammar och bekräftar barnens känslomässiga behov och inte tvingar på barnet sina egna känslor. Detta är viktigt att tänka på oavsett barnets ålder.</p>

    <h3>Vikten av mentalisering och samtalsrutiner</h3>

    <p>För att lyckas med detta behöver du som förälder mentalisera. När du mentaliserar ser du dig själv och dina egna handlingar utifrån och barnets handlingar inifrån. Från båda perspektiv ställer du dig frågor så som "Vilka tankar, känslor och behov ligger bakom det här beteendet?”. Om ditt barn plötsligt beter sig på ett sätt du läser som ett tecken på att hen är ledsen behöver du kommunicera detta genom att säga ”Du verkar ledsen, vad är det som har hänt?”. Denna typ av kommunikation stärker anknytningen och relationen på sikt.</p>

    <p>Det gäller att hitta tid för djupare samtal. I dagens uppkopplade samhälle är det svårare än man kan tro. Många familjer äter middag framför tv:n eller datorn samtidigt som mobiltelefonerna konstant är på. Detta är inte enbart ett hot mot kommunikationen utan också mot relationerna. Att föra en dialog med någon som inte är mentalt tillgänglig är bortkastad energi. Därför är det viktigt att hitta en rutin där man som familj hittar digitalfri tid ihop, exempelvis vid middagsbordet, där samtalet berör andra ämnen än vardagen. Ta för vana att fråga dina barn om det är några särskilda tankar eller känslor som dykt upp under dagen. Är det något de längtar efter? Önskar de något vore annorlunda, hemma eller i livet i stort? Dela givetvis med dig av dina egna tankar och känslor.</p>

    <p>Det är bra att avsätta en timme i veckan där familjen får ventilera känslor och behov, där eventuella konflikter kan lyftas upp till ytan och redas ut. Här får ni öva på att stå upp för era egna känslor, åsikter och önskemål – något ni alla vinner på i längden.</p>

  </main>
</section>
