// -----------------------------------------------------------------------------
// Views > Confessions > Index
// -----------------------------------------------------------------------------

.confession--index {
  padding-top: 100px;
  background: color("light-green");

  &__container {
    width: 100%;
  }

  &__main {
    h1 {
      font-family: $ds-font-family-bold;
      font-size: rem(24);
      text-align: center;
      margin-bottom: 30px;
    }

    p {
      color: color("gray-60");
    }
  }

  &__header {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto 20px auto;

    .title {
      width: 50%;
      float: left;

      h3 {
        margin: 6px 0 0 0;
        font-size: rem(18);
        font-family: $ds-font-family-bold;

        @include media($tablet) {
          font-size: rem(24);
          font-family: $ds-font-family;
          width: 80%;
          float: left;
        }

        @include media($desktop) {
          font-size: rem(36);
        }
      }
    }

    .new {
      width: 50%;
      float: right;
      text-align: right;
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  &__signout {
    text-align: center;
    margin-top: 40px;
  }

  &__confession {
    background: darken(color("light-green"), 5);
    &:nth-child(even) { background: darken(color("light-green"), 10); }
    width: 100%;
    padding: 20px 0;

    @include media($tablet) { padding: 40px 0; }

    .content {
      width: 90%;
      max-width: 1200px;
      margin: 0 auto;

      p {
        margin: 0;

        @include media($tablet) {
          font-size: rem(24);
          font-family: $ds-font-family;
          width: 80%;
          float: left;
        }

        @include media($desktop) {
          font-size: rem(36);
        }
      }

      .action {
        margin-top: 20px;

        @include media($tablet) {
          text-align: right;
          width: 20%;
          float: right;
          margin-top: 0;

          .button:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }

      @include media($tablet) {
        &:after {
          content: "";
          display: block;
          clear: both;
        }
      }
    }
  }

  &__mirror {
    width: 90%;
    max-width: 400px;
    border-radius: 4px;
    border: 1px solid color("green");
    margin: 40px auto;
    padding: 20px;

    .meta {
      width: 60%;
      float: left;
    }

    .onoff {
      width: 40%;
      float: left;
      .switch {
        margin: 8px 0 0 auto;
      }
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    h1 {
      text-align: left;
      margin: 7px 0 0;
    }
  }
}
