// -----------------------------------------------------------------------------
// On/Off Switch
// -----------------------------------------------------------------------------
.switch {
    position: relative; width: 80px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.switch-checkbox {
    display: none;
}
.switch-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 4px;
}
.switch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.switch-inner:before, .switch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 16px; color: white;
    font-family: $ds-font-family-complementary;
    font-weight: bold;
    box-sizing: border-box;
}
.switch-inner:before {
    content: "På";
    padding-left: 10px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(lighten(color("green"), 10)), to(color("green")));
    background: -webkit-linear-gradient(top, lighten(color("green"), 10), color("green"));
    background: -moz-linear-gradient(top, lighten(color("green"), 10), color("green"));
    background: -ms-linear-gradient(top, lighten(color("green"), 10), color("green"));
    background: -o-linear-gradient(top, lighten(color("green"), 10), color("green"));
    color: #FFFFFF;
}
.switch-inner:after {
    content: "Av";
    padding-right: 10px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(lighten(color("orange"), 10)), to(color("orange")));
    background: -webkit-linear-gradient(top, lighten(color("orange"), 10), color("orange"));
    background: -moz-linear-gradient(top, lighten(color("orange"), 10), color("orange"));
    background: -ms-linear-gradient(top, lighten(color("orange"), 10), color("orange"));
    background: -o-linear-gradient(top, lighten(color("orange"), 10), color("orange"));
    color: #FFFFFF;
    text-align: right;
}
.switch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 46px;
    border-radius: 4px;
    transition: all 0.3s ease-in 0s;
}
.switch-checkbox:checked + .switch-label .switch-inner {
    margin-left: 0;
}
.switch-checkbox:checked + .switch-label .switch-switch {
    right: 0px;
}
