// -----------------------------------------------------------------------------
// Devise Forms
// -----------------------------------------------------------------------------

.form--user {
  padding: 20px 30px;
  background: color("green");

  @include media($tablet) {
    padding: 40px;
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  label {
    color: white;
    font-family: $ds-font-family-complementary;
    font-weight: $ds-font-weight-bold;
    font-size: rem(12);
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  em {
    font-style: normal;
    font-family: $ds-font-family-complementary;
    font-size: rem(12);
    display: block;
    color: color("light-green");
    margin: -6px 0 8px 0;
  }

  .field {
    &--checkbox {
      float: left;
      width: 50%;
      padding-top: 12px;

      input {
        float: left;
        width: auto;
        margin: 0 4px 0 0;
      }

      label {
        line-height: 14px;
      }
    }
  }

  .actions {
    text-align: center;

    &--half {
      width: 50%;
      float: right;
      text-align: right;
    }

    input {
      width: auto;
      margin: 0;
      border: 0;
      color: color("green");
      text-transform: uppercase;
      font-weight: $ds-font-weight-bold;

      &:hover {
        background: color("light-green");
      }
    }
  }
}

.form--confession {
  color: $ds-font-family-complementary;

  textarea {
    min-height: 140px;
  }

  .actions {
    text-align: center;

    .button,
    input[type="submit"] {
      display: inline;
      width: auto;
      margin: 20px auto;
    }
  }
}

#error_explanation {
  h2 {
    color: white;
    font-family: $ds-font-family-complementary;
    font-weight: $ds-font-weight-bold;
    font-size: rem(18);
    margin-top: 0;
  }

  ul {
    li {
      color: white;
      font-family: $ds-font-family-complementary;
      font-size: rem(14);
    }
  }
}
