<div id="confession" class="mirror">
  <%= render partial: 'confession', locals: { mirror: @mirror, confession: @confession } %>
</div>

<script data-turbolinks-eval=false>
  var channel = pusher.subscribe('<%= @mirror.id %>');
  channel.bind("update", function(data) {
    setTimeout(function() {
      Turbolinks.visit(location.toString());
    }, timeoutTime);
  });
</script>
