// Styles for the mirrors

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  position: relative;
  overflow: hidden;
  background: black;
  color: white;
  font-family: 'CenturyStd-BookCondensed', serif;
  font-size: 8vw;
  height: 100vh;
  margin: 0;
  padding: 4vw;
}

.mirror {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  height: 100vh;

  .confession {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info {
    font-size: 4vw;
    margin: 16vw 0;
  }
}
