.video {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: color("black");
  z-index: $ds-tooltips;

  &__close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: $ds-tooltips;

    .icon {
      @include burger(38px, 4px, 7px, color("white"));
      @include burger-to-cross;
      display: inline-block !important;
      vertical-align: middle;
      margin-left: 10px;
      border-radius: 4px;
      &:before, &:after { border-radius: 4px; }
    }
    .text {
      font-size: rem(20);
      line-height: rem(38);
      display: inline-block;
      vertical-align: middle;
      color: color("white");
      @include transition(color 0.5s ease-out);
    }
  }

  &__player {
  	position: absolute;
    top: 50%;
    left: 50%;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 25px;
    width: 100%;
  	height: 0;
    @include transform(translate(-50%, -50%));

    iframe {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
  }
}
