// -----------------------------------------------------------------------------
// Views > Home
// -----------------------------------------------------------------------------
.home {
  padding-top: 85px;

  .grid {
    width: 100%;

    a.link {
      color: white;
      &:hover { color: white; }
    }

    a.confession {
      color: white;
      &:hover { color: white; }

      &:nth-child(odd) { display: none; }

      @include media($tablet) {
        &:nth-child(odd) { display: block; }
      }
    }
  }
}
