// -----------------------------------------------------------------------------
// Views > Users > Sign in
// -----------------------------------------------------------------------------

.sign_in {
  background: color("light-green");

  &__container {
    @extend .container;
  }

  &__main {
    @include shift(1);
    @include span-columns(10);

    @include media($tablet) {
      @include shift(3);
      @include span-columns(6);
    }

    h1 {
      font-family: $ds-font-family-bold;
      font-size: rem(24);
      text-align: center;
      margin-bottom: 30px;
    }

    p {
      color: color("gray-60");
      text-align: center;
    }
  }
}
